{% extends "layout.html.twig" %}


{% block content %}

    {% include "blocks/study_banner.html.twig" %}

    <div class="bg-blue-50">
        <div class="container mx-auto">
            <nav class="px-10 py-3 bg-blue-50">
                <div class="flex justify-between items-center">
                    <a class="text-gray-600 text-2xl leading-none" href="#">
                        <img class="h-5 lg:h-8" src="https://res.cloudinary.com/apisearch/image/upload/v1649601565/Logo_Apisearch_04-ai-svg_dbmxn3.svg" alt="" width="auto">
                    </a>
                    <div class="lg:hidden">
                        <button class="block navbar-burger text-indigo-50 hover:text-indigo-200 focus:outline-none">
                            <svg class="h-4 w-4" fill="currentColor " viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <title>Mobile menu</title>
                                <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
                            </svg>
                        </button>
                    </div>
                    <ul class="hidden lg:flex ml-auto mr-10 items-center w-auto space-x-12">
                        <li><a class="text-sm text-indigo-50 hover:text-indigo-200 font-medium" href="#">{{ t.menu.all_in_one }}</a></li>
                        <li><a class="text-sm text-indigo-50 hover:text-indigo-200 font-medium" href="#">{{ t.menu.prices }}</a></li>
                        <li><a class="text-sm text-indigo-50 hover:text-indigo-200 font-medium" href="#">{{ t.menu.clients }}</a></li>
                    </ul>
                    <a class="hidden lg:block px-5 py-3 text-sm text-center font-semibold text-white hover:text-indigo-500 hover:bg-white border border-white rounded transition duration-200" href="#">{{ t.menu.log_in }}</a>
                </div>
                <div class="hidden navbar-menu fixed top-0 left-0 bottom-0 w-5/6 max-w-sm z-50">
                    <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
                    <nav class="relative flex flex-col py-6 px-6 w-full h-full bg-blue-50 border-r overflow-y-auto">
                        <div class="flex items-center mb-12">
                            <a class="mr-auto text-3xl font-semibold leading-none" href="#">
                                <img class="h-10" src="https://res.cloudinary.com/apisearch/image/upload/v1649601565/Logo_Apisearch_04-ai-svg_dbmxn3.svg" style="height: 25px;">
                            </a>
                            <button class="navbar-close">
                                <svg class="h-6 w-6 cursor-pointer hover:text-indigo-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                                </svg>
                            </button>
                        </div>
                        <div>
                            <ul>
                                <li class="mb-1 text-base"><a class="text-xl block p-4 text-sm font-semibold hover:bg-green-50 hover:text-indigo-500 rounded" href="#">{{ t.menu.all_in_one }}</a></li>
                                <li class="mb-1"><a class=" text-xl block p-4 text-sm font-semibold hover:bg-green-50 hover:text-indigo-500 rounded" href="#">{{ t.menu.prices }}</a></li>
                                <li class="mb-1"><a class=" text-xl block p-4 text-sm font-semibold hover:bg-green-50 hover:text-indigo-500 rounded" href="#">{{ t.menu.clients }}</a></li>
                            </ul>
                        </div>
                        <div class="mt-auto">
                            <div class="pt-6"><a class="block px-5 py-3 mb-3 text-sm text-center bg-indigo-500 hover:bg-indigo-600 text-white font-semibold border border-indigo-500 hover:border-indigo-600 rounded transition duration-200" href="#">{ t.menu.log_in }}</a></div>
                            <p class="mt-6 mb-4 text-sm text-center text-white">
                                <span>© 2022 All rights reserved.</span>
                            </p>
                        </div>
                    </nav>
                </div>
            </nav>
        </div>

        <div id="main-message" class="container mx-auto mb-20 bg-blue-50">
            <div class="mx-10">
                <p class="text-2xl lg:text-7xl  font-semibold big-text">{{ t.header.write_whatever }}</p>
            </div>
            <div class="mx-10" id="main-demo">
                <input class="leading-tight bg-blue-50 block w-full px-2 mb-2 md:mb-0 focus:bg-blue-50 focus:outline-none " type="text">
            </div>
            <div class="mx-10 big-text-second-block">
                <p class="text-2xl lg:text-7xl font-semibold big-text">{{ t.header.to_find_1 }}</p>
                <div class="block lg:flex">
                    <p class="text-2xl lg:text-7xl flex-none font-semibold big-text big-text-continuation">{{ t.header.to_find_2 }}</p>
                    <p class="block text-lg my-5 lg:mx-10 lg:my-3 lg:flex lg:my-10 lg:text-2xl description">{{ t.header.desc }}</p>
                </div>
                <div class="block lg:flex">
                    <input class="appearance-none block w-4/6 py-3 px-4 mb-2 md:mb-0 leading-tight text-gray-700 bg-gray-200 focus:bg-white border border-gray-200 focus:border-gray-500 rounded focus:outline-none lg:mr-10" type="text" placeholder="E-mail">
                    <button class="my-5 inline-block py-3 px-6 leading-none text-white bg-green-50 hover:bg-green-500 rounded shadow lg:my-0 lg:py-6 lg:w-100">{{ t.header.request_a_demo }}</button>
                </div>
            </div>
        </div>
        <div class="hidden md:flex justify-center bg-white">
            <div class="-m-10 w-2/3">
                <video poster="" autoplay="autoplay" playsinline="" loop="loop" muted="muted" class="motw-landing-intro__video" data-v-f6f98a2c="" data-v-18b205d6="" style="max-height: 100%;"><source src="http://testapisearch.io.mialias.net/video/Apisearch.mp4" type="video/mp4" data-v-f6f98a2c="" data-v-18b205d6="">
                    Your browser does not support the video tag.</video>
            </div>
        </div>
    </div>

    <div class="bg-white" id="features">
        <div class="container mx-auto" style="margin-top: 6em">
            <p class="text-3xl lg:text-5xl  mx-10 my-10 font-bold">Producto All-in #1</p>
            <div class="mx-10">
                <div class="flex flex-wrap -mx-4 -mb-16">
                    <div class="w-full md:w-1/2 lg:w-1/3 px-4 mb-16">
                        <div class="flex">
                            <i class="icon fa-solid fa-pen-to-square mr-10 mt-2"></i>
                            <div>
                                <h3 class="mb-4 text-xl md:text-2xl font-bold font-heading">{{ t.features.custom.title }}</h3>
                                <p class="text-lg leading-loose md:text-lg md:leading-loose text-gray-500">{{ t.features.custom.desc }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="w-full md:w-1/2 lg:w-1/3 px-4 mb-16">
                        <div class="flex">
                            <i class="icon fa-solid fa-brain mr-10 mt-2"></i>
                            <div>
                                <h3 class="mb-4 text-xl md:text-2xl font-bold font-heading">{{ t.features.ia.title }}</h3>
                                <p class="text-lg leading-loose md:text-lg md:leading-loose text-gray-500">{{ t.features.ia.desc }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="w-full md:w-1/2 lg:w-1/3 px-4 mb-16">
                        <div class="flex">
                            <i class="icon fa-solid fa-filter-circle-dollar mr-10 mt-2"></i>
                            <div>
                                <h3 class="mb-4 text-xl md:text-2xl font-bold font-heading">{{ t.features.funnel.title }}</h3>
                                <p class="text-lg leading-loose md:text-lg md:leading-loose text-gray-500">{{ t.features.funnel.desc }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="w-full md:w-1/2 lg:w-1/3 px-4 mb-16">
                        <div class="flex">
                            <i class="icon fa-solid fa-plug-circle-bolt mr-10 mt-2"></i>
                            <div>
                                <h3 class="mb-4 text-xl md:text-2xl font-bold font-heading">{{ t.features.plug_play.title }}</h3>
                                <p class="text-lg leading-loose md:text-lg md:leading-loose text-gray-500">{{ t.features.plug_play.desc }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="w-full md:w-1/2 lg:w-1/3 px-4 mb-16">
                        <div class="flex">
                            <i class="icon fa-solid fa-ruler mr-10 mt-2"></i>
                            <div>
                                <h3 class="mb-4 text-xl md:text-2xl font-bold font-heading">{{ t.features.rules.title }}</h3>
                                <p class="text-lg leading-loose md:text-lg md:leading-loose text-gray-500">{{ t.features.rules.desc }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="w-full md:w-1/2 lg:w-1/3 px-4 mb-16">
                        <div class="flex">
                            <i class="icon fa-solid fa-mobile-screen-button mr-10 mt-2"></i>
                            <div>
                                <h3 class="mb-4 text-xl md:text-2xl font-bold font-heading">{{ t.features.multi_device.title }}</h3>
                                <p class="text-lg leading-loose md:text-lg md:leading-loose text-gray-500">{{ t.features.multi_device.desc }}</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="bg-white">
        <div class="container px-4 mx-auto">
            <p class="text-3xl lg:text-5xl  mx-10 my-10 font-bold">Precios</p>
            <p class="mx-10 my-10 text-base leading-relaxed lg:text-xl lg:leading-relaxed text-gray-500">Queremos ponértelo fácil y darte todo el potencial de un buscador profesional, sin restricciones, aunque de momento no tengas tráfico.  No pagues nada  si no sobrepasas las 10.000 peticiones.</p>
            <div class="hidden max-w-xl lg:max-w-2xl mx-auto mb-12 text-center">
                <a class="mr-6 text-lg pb-2 border-b-4 border-indigo-500" href="#">Mes a mes</a><a class="text-lg pb-2 border-b-4 border-transparent hover:border-indigo-500" href="#">Anual</a>
            </div>
            <div class="flex flex-wrap items-center mx-10 my-10">
                <div class="w-full lg:w-1/2">
                    <div class="p-6 md:p-12 bg-gray-50 rounded lg:text-center">
                        <h3 class="text-2xl font-bold text-indigo-500">Empieza por</h3>
                        <span class="inline-block text-4xl md:text-6xl font-bold font-heading">0 €</span>
                        <p class="invisible">(0.0007 €/petición)</p>
                        <ul class="my-6 text-left text-lg">
                            <li class="mb-2 flex items-center">
                                <svg class="hidden sm:block mr-2 w-6 h-6 text-indigo-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                </svg>
                                <p>Todas las funcionalidades All-in #1</p>
                            </li>
                            <li class="mb-2 flex items-center">
                                <svg class="hidden sm:block mr-2 w-6 h-6 text-indigo-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                </svg>
                                <p>Sin parada de servicio</p>
                            </li>
                            <li class="mb-2 flex items-center">
                                <svg class="hidden sm:block mr-2 w-6 h-6 text-indigo-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                </svg>
                                <p>Hasta 10.000 peticiones únicas</p>
                            </li>
                            <li class="mb-2 flex items-center">
                                <svg class="hidden sm:block mr-2 w-6 h-6 text-indigo-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                </svg>
                                <p>Hasta 5.000 Productos</p>
                            </li>
                        </ul>
                        <a class="block w-full px-5 py-3 text-sm text-center bg-indigo-500 hover:bg-indigo-600 text-white font-semibold border border-indigo-500 hover:border-indigo-600 rounded transition duration-200" href="#">Solicita una demo</a>
                    </div>
                </div>
                <div class="w-full lg:w-1/2">
                    <div class="p-6 md:p-12 bg-gray-50 rounded lg:text-center">
                        <h3 class="text-2xl font-bold text-indigo-500">10.000 peticiones</h3>
                        <span class="inline-block text-4xl md:text-6xl font-bold font-heading">7 €</span>
                        <p>(0.0007 €/petición)</p>
                        <ul class="my-6 text-left text-lg">
                            <li class="mb-2 flex items-center">
                                <svg class="hidden sm:block mr-2 w-6 h-6 text-indigo-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                </svg>
                                <p>Todas las funcionalidades All-in #1</p>
                            </li>
                            <li class="mb-2 flex items-center">
                                <svg class="hidden sm:block mr-2 w-6 h-6 text-indigo-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                </svg>
                                <p>Sin parada de servicio</p>
                            </li>
                            <li class="mb-2 flex items-center">
                                <svg class="hidden sm:block mr-2 w-6 h-6 text-indigo-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                </svg>
                                <p>Peticiones únicas y productos ilimitadas</p>
                            </li>
                            <li class="mb-2 flex items-center">
                                <svg class="hidden sm:block mr-2 w-6 h-6 text-indigo-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                </svg>
                                <p>Personalización y seguimiento</p>
                            </li>
                        </ul>
                        <a class="block w-full px-5 py-3 text-sm text-center bg-indigo-500 hover:bg-indigo-600 text-white font-semibold border border-indigo-500 hover:border-indigo-600 rounded transition duration-200" href="#">Solicita una demo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-white">
        <div class="container px-4 mx-auto">
            <p class="text-3xl lg:text-5xl  mx-10 font-bold">Clientes que ya confian</p>
            <div class="container px-4 mx-auto">
                <div class="flex flex-wrap m-5">
                    <div class="w-full md:w-1/2 lg:w-1/3 my-5">
                        <a href="https://www.miscota.es/#%7B%22q%22:%22pienso%22%7D" target="_blank" rel="noopener noreferrer">
                            <figure><img class="h-50 mx-auto" src="https://res.cloudinary.com/apisearch/image/upload/v1650018707/Clients/miscota_q45fdh.png" alt=""></figure>
                        </a>
                    </div>
                    <div class="w-full md:w-1/2 lg:w-1/3 my-5">
                        <a href="https://www.holaprincesa.es/#%7B%22q%22:%22aromas%22%7D" target="_blank" rel="noopener noreferrer">
                            <figure><img class="h-50 mx-auto" src="https://res.cloudinary.com/apisearch/image/upload/v1650187284/Clients/holaPrincesa_vypghc.png" alt=""></figure>
                        </a>
                    </div>
                    <div class="w-full md:w-1/2 lg:w-1/3 my-5">
                        <a href="https://www.pampling.com/#%7B%22q%22:%22marvel%22%7D" target="_blank" rel="noopener noreferrer">
                            <figure><img class="h-50 mx-auto" src="https://res.cloudinary.com/apisearch/image/upload/v1650187267/Clients/pampling_e9kwqh.png" alt=""></figure>
                        </a>
                    </div>
                    <div class="w-full md:w-1/2 lg:w-1/3 my-5">
                        <a href="https://www.belletica.com/es/#%7B%22q%22:%22pintalabios%22%7D" target="_blank" rel="noopener noreferrer">
                            <figure><img class="h-50 mx-auto" src="https://res.cloudinary.com/apisearch/image/upload/v1650187257/Clients/belletica_tg6iuz.png" alt=""></figure>
                        </a>
                    </div>
                    <div class="w-full md:w-1/2 lg:w-1/3 my-5">
                        <a href="https://www.siroko.com/es/" target="_blank" rel="noopener noreferrer">
                            <figure><img class="h-50 mx-auto" src="https://res.cloudinary.com/apisearch/image/upload/v1650187529/Clients/siroko_r43qtk.png" alt=""></figure>
                        </a>
                    </div>
                    <div class="w-full md:w-1/2 lg:w-1/3 my-5">
                        <a href="https://es.muroexe.com/#%7B%22q%22:%22blue%22%7D" target="_blank" rel="noopener noreferrer">
                            <figure><img class="h-50 mx-auto" src="https://res.cloudinary.com/apisearch/image/upload/v1650187348/Clients/muroexe_vtubdr.png" alt=""></figure>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
